* {
    box-sizing: border-box;
  }
  header div{
    
   
    margin-bottom: 20px;
   
  }
  header article {
    padding-left:7%;
  }
  ul li {
   
    display: inline-block;
   
    /* margin-left: 30px; */
  }

  p{
    width: 220px;
    height: 400px;
    overflow: scroll;
  }
  div{margin: 14opx;
    /* border: 1px solid rgb(30, 255, 0) ; */
  }
  article{margin-left: 40; 
    margin: 20px;
    /* border: 1px solid red ; */
    padding-left: 140px;
   
  }
  /* ul {
     border: 1px solid rgb(17, 3, 3) ; */

  /* } */
   /* li{ border: 1px solid rgb(9, 18, 145) ;
  } */
  li {padding-left:20px;

  }
  footer{
    height: 100px;
    background-color: grey;
  }
  a{
    width: 100px;height: 100px;
    background-color: grey;
  }